In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
df = pd.read_csv('../data/eda.csv')
df.head()

,Unnamed: 0,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target,0,...,758,759,760,761,762,763,764,765,766,767
0,0,ISIC_2637011,IP_7279968,male,45.0,head/neck,unknown,benign,0,0.0,...,3.0,2.0,5.0,0.0,1.0,3.0,1.0,2.0,2.0,35.0
1,1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0,0.0,...,2.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,7.0

In [15]:
numbers = df.loc[:,'0':'255'].columns

In [18]:
df.loc[:,'0':'255'] = df.loc[:,'0':'255'].add_prefix('blue_')
df.loc[:,'256':'511'].columns = numbers
df.loc[:,'0':'255'] = df.loc[:,'0':'255'].add_prefix('green_')
df.loc[:,'512':'767'].columns = numbers
df.loc[:,'0':'255'] = df.loc[:,'0':'255'].add_prefix('red_')
df.head()

,Unnamed: 0,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target,0,...,758,759,760,761,762,763,764,765,766,767
0,0,ISIC_2637011,IP_7279968,male,45.0,head/neck,unknown,benign,0,NaN,...,3.0,2.0,5.0,0.0,1.0,3.0,1.0,2.0,2.0,35.0
1,1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0,NaN,...,2.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,7.0

In [32]:
df.loc[:,'256':'511'].rename(dict(zip(df.loc[:,'256':'511'].columns,numbers)))

,256,257,258,259,260,261,262,263,264,265,...,502,503,504,505,506,507,508,509,510,511
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,4.0,...,1.0,3.0,2.0,1.0,3.0,2.0,4.0,1.0,4.0,24.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,3.0,1.0,0.0,0.0,1.0,0.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,4.0,...,12.0,9.0,11.0,6.0,19.0,11.0,7.0,8.0,9.0,44.0
33122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,156.0,186.0,241.0,281.0,336.0,358.0,438.0,335.0,299.0,245.0
33123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0